@media (min-width:700px){

    h1{
        color: var(--text-blanco);
        font-family: "helvetica";
        font-size: 40px;
        line-height: 55px;
    }
    h2{
        color: var(--text-blanco);
        font-size: 24px;
        font-weight: 400;
        font-family: "helvetica";
        margin: 16px 0;
    }

    


    .box-3{
        padding: 70px 45px;

    }


    .form-footer{
        margin: 0 80px;
    }
    
    .form-footer h3{
        padding: 0 66px;
        margin: 4px 20px;
        }
    
    .form-footer input{
        padding: 0 40px;
    }



    .footer-content .item-link{
        list-style: none;
        display: grid;
        grid-template-columns: repeat(4 , 1fr);
        white-space: nowrap;
       
    }
    
}